In [1]:
import pandas as pd
import geopandas as gpd

In [9]:
base = gpd.read_file('data/TOC_base.csv')

In [3]:
dates = gpd.read_file('data/TOC_dates.csv')

In [4]:
base.head(5)

,AIN,TOC Status,confirmTOC,notes,include,Address,cp_casenum,full_approvetime,minus_holddays,zc_floorarea,...,LV 2015,SPA DUMMY,REDEV DUMMY,GEOID,MedianHouseholdIncome16,PerOO16,PerSingFam16,Median HomeValue16,MedianGrossRent16,geometry
0,2138003020,Non-TOC BR,,,1,7043 N JORDAN AVE,,363,363,42095,...,1401300,0,1,6037134520,40016,16.99003671,15.93843098,257300,1094,None
1,2138022010,Non-TOC Disc,,,1,21121 W VANOWEN ST,DIR-2016-4563-SPP,749,749,97611.8,...,1835200,0,0,6037132501,50363,44.09377818,59.53806672,388900,1190,None
2,2148027005,Non-TOC Disc,,,1,20944 W VANOWEN ST,DIR-2016-3485-AC,540,540,46360,...,1835200,0,0,6037132501,50363,44.09377818,59.53806672,388900,1190,None
3,2206011022,Non-TOC BR,,,1,15755 W SATICOY ST,,497,497,33532,...,1981200,0,0,6037127300,44924,30.16336056,33.98876404,394700,1063,None
4,2210031012,Non-TOC Disc,,,1,7639 N VAN NUYS BLVD,DIR-2016-2920-DB,659,659,31359,...,1905400,0,0,6037127210,42571,28.32278481,26.42001042,346400,1124,None

In [6]:
base.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   AIN                      352 non-null    object
 1   TOC Status               352 non-null    object
 2   confirmTOC               352 non-null    object
 3   notes                    352 non-null    object
 4   include                  352 non-null    object
 5   Address                  352 non-null    object
 6   cp_casenum               352 non-null    object
 7   full_approvetime         352 non-null    object
 8   minus_holddays           352 non-null    object
 9   zc_floorarea             352 non-null    object
 10  total_units              352 non-null    object
 11  aff_units                352 non-null    object
 12  mr_units                 352 non-null    object
 13  pct_aff                  352 non-null    object
 14  Council District         352 non-null    object
 15  TOC Dist                 352 non-null    object
 16  ProximityCBD             352 non-null    object
 17  ZIPCODE                  352 non-null    object
 18  LV 2012                  352 non-null    object
 19  LV2020                   352 non-null    object
 20  LV 2015                  352 non-null    object
 21  SPA DUMMY                352 non-null    object
 22  REDEV DUMMY              352 non-null    object
 23  GEOID                    352 non-null    object
 24  MedianHouseholdIncome16  352 non-null    object
 25  PerOO16                  352 non-null    object
 26  PerSingFam16             352 non-null    object
 27  Median HomeValue16       352 non-null    object
 28  MedianGrossRent16        352 non-null    object
 29  geometry                 0 non-null      geometry
dtypes: geometry(1), object(29)
memory usage: 82.6+ KB

In [7]:
dates.head(5)

,AIN,TOC Dummy,DISC Dummy,cp_filing,cp_complet,cp_approva,permit_num,ladbs_subm,ladbs_perm,ladbs_appr,geometry
0,2317017002,1,1,3/16/2018,4/19/2018,7/23/2018,17010-20000-02985,2017-08-04,2019-09-19,776,None
1,2338028017,1,1,2/12/2018,5/15/2018,7/30/2018,16010-20000-06202,2016-12-27,2018-12-18,721,None
2,2353013004,1,1,3/8/2018,11/28/2018,2/11/2019,16010-20000-06204,2016-12-27,2019-08-01,947,None
3,4006020010,1,1,2/26/2019,5/1/2019,7/12/2019,19010-20000-02725,6/25/2019,3/10/2020,259,None
4,4103022009,1,1,2/12/2019,4/23/2019,5/15/2019,18010-20000-04140,8/23/2018,2/21/2020,547,None

In [11]:
dates.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 353 entries, 0 to 352
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AIN         353 non-null    object
 1   TOC Dummy   353 non-null    object
 2   DISC Dummy  353 non-null    object
 3   cp_filing   353 non-null    object
 4   cp_complet  353 non-null    object
 5   cp_approva  353 non-null    object
 6   permit_num  353 non-null    object
 7   ladbs_subm  353 non-null    object
 8   ladbs_perm  353 non-null    object
 9   ladbs_appr  353 non-null    object
 10  geometry    0 non-null      geometry
dtypes: geometry(1), object(10)
memory usage: 30.5+ KB

In [20]:
TOC3 = base.merge(dates,on='AIN')

In [21]:
TOC3.head(5)

,AIN,TOC Status,confirmTOC,notes,include,Address,cp_casenum,full_approvetime,minus_holddays,zc_floorarea,...,TOC Dummy,DISC Dummy,cp_filing,cp_complet,cp_approva,permit_num,ladbs_subm,ladbs_perm,ladbs_appr,geometry_y
0,2138003020,Non-TOC BR,,,1,7043 N JORDAN AVE,,363,363,42095,...,0,1,#N/A,#N/A,#N/A,17010-20000-02093,2017-05-31,2018-05-29,363,None
1,2138022010,Non-TOC Disc,,,1,21121 W VANOWEN ST,DIR-2016-4563-SPP,749,749,97611.8,...,0,1,11/30/2016,12/30/2016,11/14/2017,16010-20000-06159,12/23/2016,12/19/2018,726,None
2,2148027005,Non-TOC Disc,,,1,20944 W VANOWEN ST,DIR-2016-3485-AC,540,540,46360,...,0,1,9/14/2016,5/1/2017,5/22/2017,16010-10000-04924,10/25/2016,3/8/2018,499,None
3,2206011022,Non-TOC BR,,,1,15755 W SATICOY ST,,497,497,33532,...,0,0,#N/A,#N/A,#N/A,17010-20000-03176,8/18/2017,12/28/2018,497,None
4,2210031012,Non-TOC Disc,,,1,7639 N VAN NUYS BLVD,DIR-2016-2920-DB,659,659,31359,...,0,0,8/10/2016,11/28/2016,4/12/2017,16010-20000-05567,2016-12-08,2018-05-31,539,None

In [22]:
TOC3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 352 entries, 0 to 351
Data columns (total 40 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   AIN                      352 non-null    object
 1   TOC Status               352 non-null    object
 2   confirmTOC               352 non-null    object
 3   notes                    352 non-null    object
 4   include                  352 non-null    object
 5   Address                  352 non-null    object
 6   cp_casenum               352 non-null    object
 7   full_approvetime         352 non-null    object
 8   minus_holddays           352 non-null    object
 9   zc_floorarea             352 non-null    object
 10  total_units              352 non-null    object
 11  aff_units                352 non-null    object
 12  mr_units                 352 non-null    object
 13  pct_aff                  352 non-null    object
 14  Council District         352 non-null    object
 15  TOC Dist                 352 non-null    object
 16  ProximityCBD             352 non-null    object
 17  ZIPCODE                  352 non-null    object
 18  LV 2012                  352 non-null    object
 19  LV2020                   352 non-null    object
 20  LV 2015                  352 non-null    object
 21  SPA DUMMY                352 non-null    object
 22  REDEV DUMMY              352 non-null    object
 23  GEOID                    352 non-null    object
 24  MedianHouseholdIncome16  352 non-null    object
 25  PerOO16                  352 non-null    object
 26  PerSingFam16             352 non-null    object
 27  Median HomeValue16       352 non-null    object
 28  MedianGrossRent16        352 non-null    object
 29  geometry_x               0 non-null      geometry
 30  TOC Dummy                352 non-null    object
 31  DISC Dummy               352 non-null    object
 32  cp_filing                352 non-null    object
 33  cp_complet               352 non-null    object
 34  cp_approva               352 non-null    object
 35  permit_num               352 non-null    object
 36  ladbs_subm               352 non-null    object
 37  ladbs_perm               352 non-null    object
 38  ladbs_appr               352 non-null    object
 39  geometry_y               0 non-null      geometry
dtypes: geometry(2), object(38)
memory usage: 112.8+ KB

In [23]:
TOC3 = TOC3.drop(columns=['geometry_x','geometry_y','ladbs_appr'])

In [24]:
TOC3.sample(5)

,AIN,TOC Status,confirmTOC,notes,include,Address,cp_casenum,full_approvetime,minus_holddays,zc_floorarea,...,Median HomeValue16,MedianGrossRent16,TOC Dummy,DISC Dummy,cp_filing,cp_complet,cp_approva,permit_num,ladbs_subm,ladbs_perm
96,4208007039,TOC DISC,1,,1,10424 W VENICE BLVD,DIR-2018-3021-TOC,627,487,62319,...,839200,1458,1,1,5/24/2018,11/7/2018,12/17/2018,18010-10000-02070,5/7/2018,1/24/2020
232,5147029048,Non-TOC Disc,,,1,660 S STANFORD AVE,CPC-2017-849-GPAJ-VZCJ-HD-SPR,1019,1019,48377,...,,299,0,1,3/2/2017,5/23/2017,12/22/2017,19010-10000-03065,7/22/2019,12/16/2019
236,5153024027,Non-TOC Disc,,,1,459 S HARTFORD AVE,DIR-2016-3396-SPP,820,747,58462,...,,818,0,1,9/8/2016,1/9/2017,1/18/2017,18010-10000-03723,8/1/2018,12/7/2018
49,2350010015,TOC BR,1,,1,11502 W CUMPSTON ST,,549,549,12093,...,555800,1264,1,0,#N/A,#N/A,#N/A,18010-20000-03247,2018-06-22,2019-12-23
65,2409003046,Non-TOC Disc,,,1,10966 W RATNER ST,DIR-2017-3457-DB,391,323,34805,...,366000,1109,0,1,8/30/2017,12/27/2017,1/19/2018,17010-10000-04614,11/21/2017,9/25/2018

In [27]:
TOC3.to_csv(r'output/TOC_11_9_2021.csv')