In [7]:
import pandas as pd
import geopandas as gpd

In [10]:
census = gpd.read_file('data/UMC.csv')
#Census data

In [12]:
TOC = gpd.read_file('data/UMT.csv')
#TOC entries

In [13]:
census.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2346 entries, 0 to 2345
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   GEOID                    2346 non-null   object
 1   MedianHouseholdIncome16  2346 non-null   object
 2   PerOO16                  2346 non-null   object
 3   Housing Units:           2346 non-null   object
 4   Housing Units: 1 Unit    2346 non-null   object
 5   PerSingFam16             2346 non-null   object
 6   Median HomeValue16       2346 non-null   object
 7   MedianGrossRent16        2346 non-null   object
 8   geometry                 0 non-null      geometry
dtypes: geometry(1), object(8)
memory usage: 165.1+ KB

In [14]:
TOC.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fid         354 non-null    object
 1   AIN         354 non-null    object
 2   SitusAddre  354 non-null    object
 3   GEOID10     354 non-null    object
 4   geometry    0 non-null      geometry
dtypes: geometry(1), object(4)
memory usage: 14.0+ KB

In [15]:
TOC1 = TOC.rename(columns={'GEOID10' : 'GEOID'})

In [16]:
TOC1.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fid         354 non-null    object
 1   AIN         354 non-null    object
 2   SitusAddre  354 non-null    object
 3   GEOID       354 non-null    object
 4   geometry    0 non-null      geometry
dtypes: geometry(1), object(4)
memory usage: 14.0+ KB

In [17]:
merged = TOC1.merge(census,on='GEOID')

In [18]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354 entries, 0 to 353
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   fid                      354 non-null    object
 1   AIN                      354 non-null    object
 2   SitusAddre               354 non-null    object
 3   GEOID                    354 non-null    object
 4   geometry_x               0 non-null      geometry
 5   MedianHouseholdIncome16  354 non-null    object
 6   PerOO16                  354 non-null    object
 7   Housing Units:           354 non-null    object
 8   Housing Units: 1 Unit    354 non-null    object
 9   PerSingFam16             354 non-null    object
 10  Median HomeValue16       354 non-null    object
 11  MedianGrossRent16        354 non-null    object
 12  geometry_y               0 non-null      geometry
dtypes: geometry(2), object(11)
memory usage: 38.7+ KB

In [11]:
merged.head()

,fid,AIN,SitusAddre,GEOID,geometry_x,MedianHouseholdIncome16,PerOO16,Housing Units:,Housing Units: 1 Unit,PerSingFam16,Median HomeValue16,MedianGrossRent16,geometry_y
0,1,6048004030,9543 S COMPTON AVE,6037242300,None,31202,35.23012552,1242,774,62.31884058,222900,1025,None
1,2,6048022066,9220 S COMPTON AVE,6037242300,None,31202,35.23012552,1242,774,62.31884058,222900,1025,None
2,3,6048004025,9515 S COMPTON AVE,6037242300,None,31202,35.23012552,1242,774,62.31884058,222900,1025,None
3,4,6046019930,2062 E 99TH PL,6037242100,None,14728,0,759,141,18.5770751,,524,None
4,5,6022022011,410 E FLORENCE AVE,6037239501,None,31000,35.18930958,937,721,76.94770544,262100,1013,None

In [16]:
merged.sample(10)
#All entries confirmed against Social Explorer

,fid,AIN,SitusAddre,GEOID,geometry_x,MedianHouseholdIncome16,PerOO16,Housing Units:,Housing Units: 1 Unit,PerSingFam16,Median HomeValue16,MedianGrossRent16,geometry_y
54,52,5080012006,3057 W PICO BLVD,6037213202,None,33800,16.28264209,1385,378,27.29241877,555100,1022,None
168,170,4314022036,3308 S MENTONE AVE,6037269904,None,58853,1.540683678,2294,97,4.22842197,,1424,None
251,256,4236021021,12800 W ZANJA ST,6037272202,None,64138,22.78325123,1624,253,15.57881773,647300,1385,None
143,191,5534019029,5820 W LA MIRADA AVE,6037190902,None,28973,5.534591195,1702,229,13.45475911,625000,1055,None
115,108,4261019006,1775 S BELOIT AVE,6037267300,None,53954,9.5482068,2147,144,6.707033069,634900,1439,None
208,209,6020009031,950 W 76TH ST,6037237720,None,24615,17.91767554,921,485,52.66015201,291400,1096,None
338,333,2353013004,11246 W OTSEGO ST,6037125401,None,55653,7.615062762,2542,116,4.563335956,319800,1390,None
137,137,5542003016,4531 W HOLLYWOOD BLVD,6037195300,None,67342,17.70761839,1603,535,33.37492202,605700,1445,None
24,24,5156003004,252 N HOOVER ST,6037208610,None,39216,15.14522822,1571,291,18.52323361,322100,1134,None
123,113,4267036009,1223 S WELLESLEY AVE,6037267402,None,67063,15.34727409,2694,94,3.489235338,624400,1611,None

In [19]:
merged = merged.drop(columns=['geometry_x','geometry_y'])

In [20]:
merged.head()

,fid,AIN,SitusAddre,GEOID,MedianHouseholdIncome16,PerOO16,Housing Units:,Housing Units: 1 Unit,PerSingFam16,Median HomeValue16,MedianGrossRent16
0,1,6048004030,9543 S COMPTON AVE,6037242300,31202,35.23012552,1242,774,62.31884058,222900,1025
1,2,6048022066,9220 S COMPTON AVE,6037242300,31202,35.23012552,1242,774,62.31884058,222900,1025
2,3,6048004025,9515 S COMPTON AVE,6037242300,31202,35.23012552,1242,774,62.31884058,222900,1025
3,4,6046019930,2062 E 99TH PL,6037242100,14728,0,759,141,18.5770751,,524
4,5,6022022011,410 E FLORENCE AVE,6037239501,31000,35.18930958,937,721,76.94770544,262100,1013

In [43]:
TOC2 = gpd.read_file('TOC_11_2021/data/TC.csv')

In [44]:
TOC2.shape

(357, 31)

In [45]:
TOC2.head(10)

,AIN,TOC Status,confirmTOC,notes,include,Address,cp_casenum,full_approvetime,minus_holddays,zc_floorarea,...,ZIPCODE,PerSingleFam,LV 2012,LV2020,LV 2015,AIN JOINCHECK,Address JOINCHECK,SPA DUMMY,REDEV DUMMY,geometry
0,2138003020,Non-TOC BR,,,1,7043 N JORDAN AVE,,363,363,42095,...,91303,13.03885045,581700,2177800,1401300,2138003020,7043 N JORDAN AVE,0,1,None
1,2138022010,Non-TOC Disc,,,1,21121 W VANOWEN ST,DIR-2016-4563-SPP,749,749,97611.8,...,91335,51.96982397,936000,2616100,1835200,2138022010,21121 W VANOWEN ST,0,0,None
2,2148027005,Non-TOC Disc,,,1,20944 W VANOWEN ST,DIR-2016-3485-AC,540,540,46360,...,91335,51.96982397,936000,2616100,1835200,2148027005,20944 W VANOWEN ST,0,0,None
3,2206011022,Non-TOC BR,,,1,15755 W SATICOY ST,,497,497,33532,...,91406,37.16363636,1050800,2827900,1981200,2206011022,15755 W SATICOY ST,0,0,None
4,2210031012,Non-TOC Disc,,,1,7639 N VAN NUYS BLVD,DIR-2016-2920-DB,659,659,31359,...,91405,22.57217848,973700,2909200,1905400,2210031012,7639 N VAN NUYS BLVD,0,0,None
5,2220005003,Non-TOC BR,,,1,14954 W SHERMAN WAY,,546,546,24840,...,91335,36.11332801,936000,2616100,1835200,2220005003,14954 W SHERMAN WAY,0,1,None
6,2221021005,Non-TOC BR,,,1,14912 W WYANDOTTE ST,,607,607,13055.75,...,91405,35.97842835,973700,2909200,1905400,2221021005,14912 W WYANDOTTE ST,0,0,None
7,2224004006,Non-TOC Disc,,,1,16030 W SHERMAN WAY,DIR-2017-2480-DB,999,939,58997,...,91335,36.11332801,936000,2616100,1835200,2224004006,16030 W SHERMAN WAY,0,1,None
8,2237001017,Non-TOC Disc,,,1,6600 N VAN NUYS BLVD,DIR-2016-2062-DB-SPR-CDO,1084,733,59770,...,91405,22.8956229,973700,2909200,1905400,2237001017,6600 N VAN NUYS BLVD,0,0,None
9,2239006030,Non-TOC Disc,,,1,13724 W VICTORY BLVD,CPC-2016-2612-VZC-SPR-DB,1113,1051,61245,...,91401,42.10963455,1594700,3676400,2502700,2239006030,13724 W VICTORY BLVD,0,0,None

In [46]:
TOC2.tail(20)

,AIN,TOC Status,confirmTOC,notes,include,Address,cp_casenum,full_approvetime,minus_holddays,zc_floorarea,...,ZIPCODE,PerSingleFam,LV 2012,LV2020,LV 2015,AIN JOINCHECK,Address JOINCHECK,SPA DUMMY,REDEV DUMMY,geometry
337,6032024022,TOC BR,1,,1,611 W 82ND ST,,309,309,10979.6,...,90044,24.93297587,615900,2895300,1579200,6032024022,611 W 82ND ST,1,0,None
338,6038010026,Non-TOC Disc,0,"Remove this one -- permit data is strange, and...",0,8750 S VERMONT AVE,VTT-82164,269,269,27777,...,90044,44.43765281,615900,2895300,1579200,6038010026,8750 S VERMONT AVE,1,0,None
339,6038010902,TOC BR,1,,1,957 W 88TH ST,,269,269,42619,...,90044,44.43765281,615900,2895300,1579200,6038010902,957 W 88TH ST,1,0,None
340,6046019920,Non-TOC Disc,,,1,2270 E CENTURY BLVD,DIR-2016-4733-AC,560,560,12537,...,90067,5.348346235,,,,6046019920,2270 E CENTURY BLVD,1,0,None
341,6046019927,Non-TOC BR,,,1,2080 E CENTURY BLVD,,435,435,22618,...,90047,9.86,975700,3515700,2019100,6046019927,2080 E CENTURY BLVD,0,0,None
342,6046019930,Non-TOC Disc,,,1,2062 E 99TH PL,DIR-2019-6968-DB,197,197,105416,...,90002,8.655126498,531800,2685900,1394800,6046019930,2062 E 99TH PL,1,0,None
343,6046021918,Non-TOC BR,,,1,2300 E CENTURY BLVD,,435,435,19051,...,90067,5.348346235,,,,6046021918,2300 E CENTURY BLVD,1,0,None
344,6048004025,TOC BR,1,,1,9515 S COMPTON AVE,,203,203,10051,...,90002,43.10344828,531800,2685900,1394800,6048004025,9515 S COMPTON AVE,1,0,None
345,6048004030,Non-TOC BR,,,1,9543 S COMPTON AVE,,825,825,16163,...,90002,43.10344828,531800,2685900,1394800,6048004030,9543 S COMPTON AVE,1,0,None
346,6048022066,Non-TOC BR,,,1,9220 S COMPTON AVE,,475,475,12024,...,90002,43.10344828,531800,2685900,1394800,6048022066,9220 S COMPTON AVE,1,0,None
347,6070016007,Non-TOC Disc,,,1,11408 S CENTRAL AVE,DIR-2019-3117-SPR-PSH-SIP,297,250,57358,...,90059,10.06517017,556700,2539200,1340800,6070016007,11408 S CENTRAL AVE,1,1,None
348,6088009036,Non-TOC Disc,,,1,11516 S VERMONT AVE,TT-65361-CN,752,752,45095,...,90044,56.01503759,615900,2895300,1579200,6088009036,11516 S VERMONT AVE,1,0,None
349,7418004008,Non-TOC BR,,,1,221 W E ST,,460,460,6496,...,90744,39.78805395,715200,2767700,1699600,7418004008,221 W E ST,0,0,None
350,7418004009,Non-TOC BR,,,1,505 N MARINE AVE,,416,416,10871,...,90744,39.78805395,715200,2767700,1699600,7418004009,505 N MARINE AVE,0,0,None
351,7455012022,TOC BR,1,,1,336 W 7TH ST,,545,545,35914,...,90014,2.411308204,,,,7455012022,336 W 7TH ST,0,1,None
352,4217018032,TOC DISC,1,,1,846 S MARIPOSA AVE,DIR-2018-2943-TOC,1070,1044,29000,...,90005,1.240458015,2447400,6124200,4652500,5094017002,846 S MARIPOSA AVE,0,1,None
353,,,,,,,,,,,...,,,,,,,,,,None
354,,,,,,,,,,,...,,,,,,,,,,None
355,,,,,,,,,,,...,,,,,,,,,,None
356,,,,,,,,,,,...,,,,,,,,,,None

In [47]:
TOC2.drop(TOC2.tail(4).index,inplace=True)

In [48]:
TOC2.tail(10)

,AIN,TOC Status,confirmTOC,notes,include,Address,cp_casenum,full_approvetime,minus_holddays,zc_floorarea,...,ZIPCODE,PerSingleFam,LV 2012,LV2020,LV 2015,AIN JOINCHECK,Address JOINCHECK,SPA DUMMY,REDEV DUMMY,geometry
343,6046021918,Non-TOC BR,,,1,2300 E CENTURY BLVD,,435,435,19051,...,90067,5.348346235,,,,6046021918,2300 E CENTURY BLVD,1,0,None
344,6048004025,TOC BR,1,,1,9515 S COMPTON AVE,,203,203,10051,...,90002,43.10344828,531800,2685900,1394800,6048004025,9515 S COMPTON AVE,1,0,None
345,6048004030,Non-TOC BR,,,1,9543 S COMPTON AVE,,825,825,16163,...,90002,43.10344828,531800,2685900,1394800,6048004030,9543 S COMPTON AVE,1,0,None
346,6048022066,Non-TOC BR,,,1,9220 S COMPTON AVE,,475,475,12024,...,90002,43.10344828,531800,2685900,1394800,6048022066,9220 S COMPTON AVE,1,0,None
347,6070016007,Non-TOC Disc,,,1,11408 S CENTRAL AVE,DIR-2019-3117-SPR-PSH-SIP,297,250,57358,...,90059,10.06517017,556700,2539200,1340800,6070016007,11408 S CENTRAL AVE,1,1,None
348,6088009036,Non-TOC Disc,,,1,11516 S VERMONT AVE,TT-65361-CN,752,752,45095,...,90044,56.01503759,615900,2895300,1579200,6088009036,11516 S VERMONT AVE,1,0,None
349,7418004008,Non-TOC BR,,,1,221 W E ST,,460,460,6496,...,90744,39.78805395,715200,2767700,1699600,7418004008,221 W E ST,0,0,None
350,7418004009,Non-TOC BR,,,1,505 N MARINE AVE,,416,416,10871,...,90744,39.78805395,715200,2767700,1699600,7418004009,505 N MARINE AVE,0,0,None
351,7455012022,TOC BR,1,,1,336 W 7TH ST,,545,545,35914,...,90014,2.411308204,,,,7455012022,336 W 7TH ST,0,1,None
352,4217018032,TOC DISC,1,,1,846 S MARIPOSA AVE,DIR-2018-2943-TOC,1070,1044,29000,...,90005,1.240458015,2447400,6124200,4652500,5094017002,846 S MARIPOSA AVE,0,1,None

In [49]:
TOC2 = TOC2.drop(columns=['PerSingleFam','% Owner-Occupied','Median Household Income (Lagged 2012-2016)2','Median Home Value (Lagged 2012-2016)3','Median Gross Rent (Lagged 2012-2016)4','AIN JOINCHECK','Address JOINCHECK'])

In [50]:
TOC2.head(10)

,AIN,TOC Status,confirmTOC,notes,include,Address,cp_casenum,full_approvetime,minus_holddays,zc_floorarea,...,Council District,TOC Dist,ProximityCBD,ZIPCODE,LV 2012,LV2020,LV 2015,SPA DUMMY,REDEV DUMMY,geometry
0,2138003020,Non-TOC BR,,,1,7043 N JORDAN AVE,,363,363,42095,...,3,-3360.469507,0.009952085,91303,581700,2177800,1401300,0,1,None
1,2138022010,Non-TOC Disc,,,1,21121 W VANOWEN ST,DIR-2016-4563-SPP,749,749,97611.8,...,3,715.6466371,0.004137242,91335,936000,2616100,1835200,0,0,None
2,2148027005,Non-TOC Disc,,,1,20944 W VANOWEN ST,DIR-2016-3485-AC,540,540,46360,...,3,715.6466371,0.004137242,91335,936000,2616100,1835200,0,0,None
3,2206011022,Non-TOC BR,,,1,15755 W SATICOY ST,,497,497,33532,...,6,2386.448902,0.008744046,91406,1050800,2827900,1981200,0,0,None
4,2210031012,Non-TOC Disc,,,1,7639 N VAN NUYS BLVD,DIR-2016-2920-DB,659,659,31359,...,6,-2195.717336,0.011552799,91405,973700,2909200,1905400,0,0,None
5,2220005003,Non-TOC BR,,,1,14954 W SHERMAN WAY,,546,546,24840,...,3,1254.473987,0.009302189,91335,936000,2616100,1835200,0,1,None
6,2221021005,Non-TOC BR,,,1,14912 W WYANDOTTE ST,,607,607,13055.75,...,2,-1959.69291,0.005597018,91405,973700,2909200,1905400,0,0,None
7,2224004006,Non-TOC Disc,,,1,16030 W SHERMAN WAY,DIR-2017-2480-DB,999,939,58997,...,3,1254.473987,0.009302189,91335,936000,2616100,1835200,0,1,None
8,2237001017,Non-TOC Disc,,,1,6600 N VAN NUYS BLVD,DIR-2016-2062-DB-SPR-CDO,1084,733,59770,...,6,-2978.472814,0.003850361,91405,973700,2909200,1905400,0,0,None
9,2239006030,Non-TOC Disc,,,1,13724 W VICTORY BLVD,CPC-2016-2612-VZC-SPR-DB,1113,1051,61245,...,2,966.9221711,0.024047978,91401,1594700,3676400,2502700,0,0,None

In [51]:
TOC2 = TOC2.drop(columns=['geometry'])
TOC2.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 353 entries, 0 to 352
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   AIN               353 non-null    object
 1   TOC Status        353 non-null    object
 2   confirmTOC        353 non-null    object
 3   notes             353 non-null    object
 4   include           353 non-null    object
 5   Address           353 non-null    object
 6   cp_casenum        353 non-null    object
 7   full_approvetime  353 non-null    object
 8   minus_holddays    353 non-null    object
 9   zc_floorarea      353 non-null    object
 10  total_units       353 non-null    object
 11  aff_units         353 non-null    object
 12  mr_units          353 non-null    object
 13  pct_aff           353 non-null    object
 14  Council District  353 non-null    object
 15  TOC Dist          353 non-null    object
 16  ProximityCBD      353 non-null    object
 17  ZIPCODE           353 non-null    object
 18  LV 2012           353 non-null    object
 19  LV2020            353 non-null    object
 20  LV 2015           353 non-null    object
 21  SPA DUMMY         353 non-null    object
 22  REDEV DUMMY       353 non-null    object
dtypes: object(23)
memory usage: 66.2+ KB

In [52]:
TOC_Census_Fix_11_8_2021 = TOC2.merge(merged,on='AIN')

In [53]:
TOC_Census_Fix_11_8_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 352 entries, 0 to 351
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   AIN                      352 non-null    object
 1   TOC Status               352 non-null    object
 2   confirmTOC               352 non-null    object
 3   notes                    352 non-null    object
 4   include                  352 non-null    object
 5   Address                  352 non-null    object
 6   cp_casenum               352 non-null    object
 7   full_approvetime         352 non-null    object
 8   minus_holddays           352 non-null    object
 9   zc_floorarea             352 non-null    object
 10  total_units              352 non-null    object
 11  aff_units                352 non-null    object
 12  mr_units                 352 non-null    object
 13  pct_aff                  352 non-null    object
 14  Council District         352 non-null    object
 15  TOC Dist                 352 non-null    object
 16  ProximityCBD             352 non-null    object
 17  ZIPCODE                  352 non-null    object
 18  LV 2012                  352 non-null    object
 19  LV2020                   352 non-null    object
 20  LV 2015                  352 non-null    object
 21  SPA DUMMY                352 non-null    object
 22  REDEV DUMMY              352 non-null    object
 23  fid                      352 non-null    object
 24  SitusAddre               352 non-null    object
 25  GEOID                    352 non-null    object
 26  MedianHouseholdIncome16  352 non-null    object
 27  PerOO16                  352 non-null    object
 28  Housing Units:           352 non-null    object
 29  Housing Units: 1 Unit    352 non-null    object
 30  PerSingFam16             352 non-null    object
 31  Median HomeValue16       352 non-null    object
 32  MedianGrossRent16        352 non-null    object
dtypes: object(33)
memory usage: 93.5+ KB

In [54]:
TOC_Census_Fix_11_8_2021.head(10)

,AIN,TOC Status,confirmTOC,notes,include,Address,cp_casenum,full_approvetime,minus_holddays,zc_floorarea,...,fid,SitusAddre,GEOID,MedianHouseholdIncome16,PerOO16,Housing Units:,Housing Units: 1 Unit,PerSingFam16,Median HomeValue16,MedianGrossRent16
0,2138003020,Non-TOC BR,,,1,7043 N JORDAN AVE,,363,363,42095,...,273,7043 N JORDAN AVE,6037134520,40016,16.99003671,2014,321,15.93843098,257300,1094
1,2138022010,Non-TOC Disc,,,1,21121 W VANOWEN ST,DIR-2016-4563-SPP,749,749,97611.8,...,280,21121 W VANOWEN ST,6037132501,50363,44.09377818,1169,696,59.53806672,388900,1190
2,2148027005,Non-TOC Disc,,,1,20944 W VANOWEN ST,DIR-2016-3485-AC,540,540,46360,...,279,20944 W VANOWEN ST,6037132501,50363,44.09377818,1169,696,59.53806672,388900,1190
3,2206011022,Non-TOC BR,,,1,15755 W SATICOY ST,,497,497,33532,...,307,15755 W SATICOY ST,6037127300,44924,30.16336056,1780,605,33.98876404,394700,1063
4,2210031012,Non-TOC Disc,,,1,7639 N VAN NUYS BLVD,DIR-2016-2920-DB,659,659,31359,...,303,7639 N VAN NUYS BLVD,6037127210,42571,28.32278481,1919,507,26.42001042,346400,1124
5,2220005003,Non-TOC BR,,,1,14954 W SHERMAN WAY,,546,546,24840,...,281,14954 W SHERMAN WAY,6037132300,40242,32.45901639,2493,997,39.99197754,367300,1083
6,2221021005,Non-TOC BR,,,1,14912 W WYANDOTTE ST,,607,607,13055.75,...,301,14912 W WYANDOTTE ST,6037127104,40357,36.67218543,1302,440,33.79416283,399600,1213
7,2224004006,Non-TOC Disc,,,1,16030 W SHERMAN WAY,DIR-2017-2480-DB,999,939,58997,...,282,16030 W SHERMAN WAY,6037132300,40242,32.45901639,2493,997,39.99197754,367300,1083
8,2237001017,Non-TOC Disc,,,1,6600 N VAN NUYS BLVD,DIR-2016-2062-DB-SPR-CDO,1084,733,59770,...,302,6600 N VAN NUYS BLVD,6037128102,34583,20.6122449,1547,468,30.25210084,378800,1163
9,2239006030,Non-TOC Disc,,,1,13724 W VICTORY BLVD,CPC-2016-2612-VZC-SPR-DB,1113,1051,61245,...,298,13724 W VICTORY BLVD,6037128220,45168,33.30442324,1208,521,43.12913907,551700,1122

In [61]:
TOC_Census_Fix_11_8_2021 = TOC_Census_Fix_11_8_2021.drop(columns=['SitusAddre','fid','Housing Units:','Housing Units: 1 Unit'])
TOC_Census_Fix_11_8_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 352 entries, 0 to 351
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   AIN                      352 non-null    object
 1   TOC Status               352 non-null    object
 2   confirmTOC               352 non-null    object
 3   notes                    352 non-null    object
 4   include                  352 non-null    object
 5   Address                  352 non-null    object
 6   cp_casenum               352 non-null    object
 7   full_approvetime         352 non-null    object
 8   minus_holddays           352 non-null    object
 9   zc_floorarea             352 non-null    object
 10  total_units              352 non-null    object
 11  aff_units                352 non-null    object
 12  mr_units                 352 non-null    object
 13  pct_aff                  352 non-null    object
 14  Council District         352 non-null    object
 15  TOC Dist                 352 non-null    object
 16  ProximityCBD             352 non-null    object
 17  ZIPCODE                  352 non-null    object
 18  LV 2012                  352 non-null    object
 19  LV2020                   352 non-null    object
 20  LV 2015                  352 non-null    object
 21  SPA DUMMY                352 non-null    object
 22  REDEV DUMMY              352 non-null    object
 23  GEOID                    352 non-null    object
 24  MedianHouseholdIncome16  352 non-null    object
 25  PerOO16                  352 non-null    object
 26  PerSingFam16             352 non-null    object
 27  Median HomeValue16       352 non-null    object
 28  MedianGrossRent16        352 non-null    object
dtypes: object(29)
memory usage: 82.5+ KB

In [67]:
TOC_Census_Fix_11_8_2021.sample(5)

,AIN,TOC Status,confirmTOC,notes,include,Address,cp_casenum,full_approvetime,minus_holddays,zc_floorarea,...,LV2020,LV 2015,SPA DUMMY,REDEV DUMMY,GEOID,MedianHouseholdIncome16,PerOO16,PerSingFam16,Median HomeValue16,MedianGrossRent16
334,6022022011,TOC DISC,1,,1,410 E FLORENCE AVE,DIR-2017-4059-TOC,465,406,42835,...,2737600,1550300,1,1,6037239501,31000,35.18930958,76.94770544,262100,1013
315,5542003016,Non-TOC Disc,,,1,4531 W HOLLYWOOD BLVD,DIR-2014-2578-SPP-SPR,1997,1743,229960,...,8415400,5715900,1,1,6037195300,67342,17.70761839,33.37492202,605700,1445
291,5522019003,Non-TOC Disc,,,1,4749 W ELMWOOD AVE,CPC-2017-2121-DB,714,714,13410,...,7465700,5780300,0,1,6037192420,51699,16.03843311,17.32178548,601500,1155
280,5520024009,Non-TOC Disc,,,1,338 N MARIPOSA AVE,DIR-2014-4909-DB,1449,1171,16100,...,7465700,5780300,0,0,6037192620,31571,3.9408867,8.413284133,629300,1037
14,2241017010,TOC BR,1,,1,14848 W DELANO ST,,330,330,11338.26,...,3818900,2643100,0,0,6037128303,24183,5.09383378,8.547008547,,1095

In [70]:
TOC_Census_Fix_11_8_2021.to_csv(r'TOC_11_2021/output/TOC_Census_Fix_11_8_2021.csv')